@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(243, 243, 243);
}

.container{
    max-width: 500px;
    margin: 55px auto;
    padding: 25px;
    border-radius: 25px;
    background-image: url(assets/night_bg.webp), linear-gradient(90deg, #0e134b, #0e134b);
    background-blend-mode:overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



input[type="text"]{
    height: 25px;
    padding: 2px;
}

input[type="submit"]{
    height: 25px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: white;
    margin-left: 5px;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}


.form{
    text-align: center;
}

.error{
    display: none;
    color: red;
    margin-top: 5px;
}

.city_name{
    font-size: 24px;
    margin-bottom: 10px;
}

.form_group{
    display: flex;
    align-items: center;
    justify-content: center;
}


.todays_info_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.todays_temp{
    font-size: 52px;
    font-weight: 300;
}

.main_icon{
    width: 250px;
    margin: 0 auto;
}

.conditions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conditions img{
    max-width: 50px;
}

.chance_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
}

.chance_container > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
}

.btn_container{
    width: 70%;
    text-align: center;
    margin: 25px auto;
    padding: 10px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(89, 97, 112, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.btn{
    padding: 5px 25px;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hourly_weekly_container{
    margin-top: 15px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(89, 97, 112, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.hourly_btn{
    background-color: #0e134b;
    color: white;
    
}

.hourly{
    width: 400px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;

}

.card_container{
    display: flex;
}

.card{
    width: 150px;
    margin-left: 25px;
    text-align: center;
    background-color: #0e134b;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card img{
    width: 100%;
}

